body{
    background-color: rgb(10, 179, 109);
}

h1{
color: red;
background-color: rgb(242, 247, 249);

}

#show_sketch{
    float:right;
}

canvas{
    border:5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 40px rgb(200, 237, 76);}
   to{box-shadow: 1px 1px 40px rgb(80, 180, 219);}
}
p{
    padding-top: 10px;
    font-size: 25px;
}